.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.heading-group-h1 {
  max-width: 80%;
}


/* Optimize styles to improve layout on desktop display. */

@media only screen and (min-width: 690px) {
    .heading-group-h1 {
      float: none;
      display: block;
      width: 500px;
      margin: 10px auto 10px auto;
      padding: .1em auto .1em auto;
      text-align: center;
    }

    #filters select {
      width: 15em;
      margin: .2em .2em;
    }
    #filters li {
      width: 20em;
      display: inline;
    }
}
